.navbar-custom{
    background-color:#F2B440;
}
.p1{
    font-family: Dancing Script;
    color: #FFFFFF;
    font-size: 60px;
    margin-left: 30px;
}
.p2{
    font-family: Arial;
    color: #F2B440;
    font-size: 120px;
    margin-top: 260px;
    margin-bottom: -20px;
    margin-left: 30px;
}
.p3{
    font-family: Arial;
    color: #ac740c;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
}
.a1{
    width: 500px;
    margin-top: 125px;
    border: 5px solid #F2B440;
    border-radius: 50%;
}
.p4{
    font-family: Century Gothic;
    color: #ac740c;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 120px;
}
.c1{
    font-family: Arial;
    color: #F2B440;
    font-size: 120px;
    margin-left: 30px;
    margin-top: 150px;
}
.a2{
    width: 300px;
    border: 2px solid #FFFFFF;
    margin-top: 20px;
}
.a3{
    width: 420px;
    border: 2px solid #FFFFFF;
    margin-top: 20px;
    margin-left: 100px;
}
.a4{
    width: 40px;
    margin-top: 200px;
}
.a5{
    width: 40px;
}
.p5{
    font-family: Arial;
    color: #ac740c;
    font-size: 20px;
    margin-top: 580px;
    margin-left: 60px;
}
.p6{
    font-family: Arial;
    color: #F2B440;
    font-size: 110px;
    margin-top: 220px;
}
.a6{
    font-family: Arial;
    color: #ac740c;
    font-size: 20px;
    margin-top: 580px;
    margin-left: 0px;
}